@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #670b06;
    color: #f28c18;
}

div {
    padding-top: 1em;
    padding-left: 1.5em;
}

button {
    background-color: #670b06;
    color: #f28c18;
    border: 2px solid #f28c18;
}

textarea {
    background-color: #292441;  
    color: #f28c18;
    border: 2px solid #f28c18;
}

code {
    background-color: #292441;
}

ul {
    list-style-type: square;
}

a:link {
    color: purple;
}

a:visited {
    color: hotpink;
}

a:active {
    color: red;
}
table {
    border-collapse: collapse;   
}

th, td {
    text-align: left;
    padding: 0.7em;
}

table, th, td {
    border: 0.1em solid #f28c18;
} 
