@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --rosewood: #550C18;
    --independance: #3A405A;
}

body {
    --font: 'Poppins';
    font-family: var(--font);
    background-color: white;
    color: var(--rosewood);
    position:relative;
    text-align:center;
    margin:0px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    align-content:center;
    justify-items:center;
    justify-content:center;
    width:100vw;
    height:100vh;
    line-height:100%;
}

div {
    padding: 1em 0px;
    margin:0px auto;
    font-weight:500;
}

h1 {
    padding: 1em 0px;
    width: 100%;
    position: relative;
    font-size: 40px;
    margin: 0px;
    margin-bottom: 0.5em;
}

footer {
    font-size: 0.85em;
}

button {
    --font: 'Poppins';
    background-color: white;
    color: var(--rosewood);
    border-radius: 5px;
    margin: 0px 10px;
    border: 0.15em solid var(--rosewood);
    padding: 10px 15px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    font-size: 15px;
    transition: all 0.5s ease-in-out;
}

button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.5);
  top: 1px;
}

button:hover {
    color: var(--rosewood);
    transform: translate(0px, -2px);
}

textarea {
    font-family: 'Ubuntu Mono', monospace;
    background-color: white;
    color: var(--rosewood);
    border-radius: 5px;
    padding: 0.15em;
    border: 0.2em solid var(--rosewood);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    font-size: 14px;
    margin: -5px 10px 15px;
}
