@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #28001c;
    color: #f28c18;
}

div {
    padding-top: 1em;
    padding-left: 1.5em;
}

button {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #4f4e51;
    color: #f28c18;
    border: 0.25em solid #4f4e51;
    border-radius: 2px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.5);
}

button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.5);
  top: 1px;
}

button:hover {
    color: red;
}

textarea {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #4f4e51;  
    color: #f28c18;
    border-radius: 2px;
    border: 0.35em solid #4f4e51;
}

code {
    background-color: #4f4e51;
}

ul {
    list-style-type: square;
}

a:link {
    color: purple;
}

a:visited {
    color: hotpink;
}

a:active {
    color: red;
}

table {
    border-collapse: collapse;   
}

th, td {
    text-align: left;
    padding: 0.7em;
}

table, th, td {
    border: 0.35em solid #4f4e51;
}
